

.autocomplete_completionListElement 
{          
      margin:0px!important;     
      padding:0px;     
      color : windowtext;
      border : buttonshadow;
      border-width : 0;
      border-style : solid;
      cursor :  pointer;
      overflow:  auto;      
      text-align : left;
      list-style-type: none;      
      padding-left :1px;      
      background-color: White;
      width:auto  
  
}
.autocomplete_highlightedListItem
{
	padding: 1px;
    padding-left: 5px;
    color: Black;
    background-color: #dbdbdb;    
   
}

.autocomplete_listItem 
{   
   
	padding: 1px;
    padding-left: 5px;
    color: Black;    
    width: auto;     
   
}

